
<div class="container">

  <div class="product_search">
    <div class="search">
      <label for="search">Search</label>
      <div class="search_content">
        <span class="material-symbols-outlined">
          search
          </span>
        <input type="search" id="search" name="search" placeholder="Search a product..." [formControl]="search" >
      </div>
    </div>
    <button class="button_create" (click)="createFormFn()" >Create</button>
  </div>

  <div class="product_content">
    <table class="table_content">
      <thead class="table_head">
        <tr>
          <th>Edit</th>
          <th>Title</th>
          <th>Price</th>
          <th>Category</th>
          <th>Rate</th>
          <th>Count</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody class="table_body">
        @for(item of filterProducts; track item.id){
          <tr @itemInOut >
            <td>
              <span class="material-symbols-outlined edit_icon" (click)="editFormFn()" >
                edit_square
                </span>
            </td>
            <td>{{item.title}}</td>
            <td>{{item.price}}</td>
            <td>{{item.category}}</td>
            <td>{{item.rating.rate}}</td>
            <td>{{item.rating.count}}</td>
            <td>
              <span class="material-symbols-outlined details_icon">
                find_in_page
                </span>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>


@if(boxDialog()){
  <app-form-dialog-page [behavior]="functionality" (close)="toggleBoxDialog()" >
  </app-form-dialog-page>
}








