<div class="container">

  <app-search-content>
    <app-search (inputText)="filterList($event)" />
    <app-btn-create (createEv)="createForm()" />
  </app-search-content>

  <div class="user_content">
    <app-table-content [columnsName]="columnsTitle" >
      @for(user of filterUser; track user.id){
        <tr @itemInOut >
          <td>
            <span class="material-symbols-outlined edit_icon" (click)="editForm(user.id)" >
              edit_square
            </span>
          </td>
          <td>{{user.name.firstname}}</td>
          <td>{{user.name.lastname}}</td>
          <td>{{user.email}}</td>
          <td>{{user.username}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.address.city}}</td>
          <td>
            <span class="material-symbols-outlined details_icon">
              find_in_page
            </span>
          </td>
        </tr>
      }
    </app-table-content>
  </div>
</div>

@if(state()){
  <app-form-dialog-page [behavior]="action()" (close)="closeDialog()" >
    <app-user-form #cmp />
  </app-form-dialog-page>
}


