
// contenedor principal
.main_container {
  max-width: 138rem;
  margin: 0 auto;
}

// Contenido principal por paginas enrutadas
.content {
  display: flex;
  height: calc(100vh - 6.4rem);
}

.content_page {
  flex-grow: 1;
}

.sidemenu {
  width: 40%;
  border-right: 1px solid var(--border-slate);
  padding: 1rem 0.5rem;
}

@media screen and (min-width: 768px) {
  .sidemenu {
    width: 25%;
  }
}

@media screen and (min-width: 1024px) {
  .sidemenu {
    width: 20%;
  }
}






