<ul class="list_items">
  <li class="items">
    <a class="item_link" href="">
      <span class="material-symbols-outlined">
        move_item
      </span>
      Products
    </a>
  </li>
  <li class="items">
    <a class="item_link" href="">
      <span class="material-symbols-outlined">
        category
      </span>
      Categories
    </a>
  </li>
  <li class="items">
    <a class="item_link" href="">
      <span class="material-symbols-outlined">
        group
      </span>
      Users
    </a>
  </li>
  <li class="items">
    <a class="item_link" href="">
      <span class="material-symbols-outlined">
        shopping_cart
      </span>
      Carts
    </a>
  </li>
  <li class="items">
    <a class="item_link" href="">
      <span class="material-symbols-outlined">
        dashboard
      </span>
      Dashboard
    </a>
  </li>
</ul>
