<div class="container" >

  <div class="backdrop" ></div>
  <div class="dialog" @dialogInOut>
    <!-- Encabezado de página -->
    <header class="dialog__header">
      <h1>{{title}}</h1>
      <button class="header__btn--close" (click)="closeDialog()" >
        <span class="material-symbols-outlined">close</span>
      </button>
    </header>

    <!-- Contenido de formularios -->
    <main class="dialog__main">
      <ng-content></ng-content>
    </main>

    <!-- Botones de acción -->
    <footer class="dialog__footer">
      <div class="content__btn">
        <div class="content__btn--left">
          <button class="btn__action" (click)="closeDialog()" >Cancel</button>
          @if(behavior === 'edit'){
            <button class="btn__action" (click)="delete()" >Delete</button>
          }
        </div>
        <div class="content__btn--right">
          @if(behavior === 'edit'){
            <button type="button" class="btn__submit" (click)="update()" >Apply changes</button>
          } @else {
            <button type="button" class="btn__submit" (click)="save()" >Create</button>
          }
        </div>
      </div>
    </footer>
  </div>
</div>

