.container {
  height: 100%;
  padding: 0.5rem;
}

.btn_back {
  border: transparent;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: var(--text-white);
  font-weight: 600;
  background: var(--btn-normal-blue);
}

.btn_back:hover {
  background: var(--btn-hover-blue);
}

.product_content {
  height: 90%;
  overflow-y: scroll;
}

.content_title {
  font-size: var(--text-xl);
  font-weight: 500;
  color: #cc0000;
  margin-bottom: 1rem;
}

.content_details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box_img {
  width: 100%;
  max-width: 30rem;
}

.img {
  width: 100%;
  height: auto;
}

.details_description {
  margin-bottom: 1rem;
  // line-height: normal;
}

.details_description h3 {
  font-weight: 600;
  color: #0000ff;
}

.details_info p {
  margin-bottom: 1rem;
}

.details_info span {
  font-weight: 600;
  // line-height: normal;
}


// media queries
@media screen and (min-width: 768px) {
  .container {
    max-width: 76.8rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: none;
  }

  .content_title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: var(--text-2xl);
  }

  .content_details {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 4rem;
  }

  .details_info {
    width: 45%;
  }

  .content_details h3 {
    font-size: var(--text-lg);
  }
}

















