
<div class="container" >
  @if(product) {
    <button class="btn_back" (click)="goToBack()" >
      <span class="material-symbols-outlined">arrow_back</span>
      Back
    </button>

    <div class="product_content">
      <h2 class="content_title">{{product.title}}</h2>
      <section class="content_details">
        <figure class="box_img">
          <img class="img" [src]="product.image" [alt]="product.title">
        </figure>
        <div class="details_info">
          <div class="details_description">
            <h3>Description:</h3>
            <p>{{product.description}}</p>
          </div>
          <div class="details_info">
            <p>
              Price by unit:
              <span>{{product.price | currency}}</span>
            </p>
            <p>
              Units available:
              <span>{{product.rating.count}}</span>
            </p>
            <p>
              Rate:
              <span>{{product.rating.rate}}</span>
            </p>
            <p>
              Category:
              <span>{{product.category}}</span>
            </p>
          </div>
        </div>
      </section>
    </div>
  }
</div>
