.container {
  height: 100%;
  padding: 0.5rem;
}

.product_search {
  height: 15%;
  border-bottom: 1px solid var(--border-slate);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search label {
  font-size: var(--text-sm);
  font-weight: 500;
}

.search_content {
  border: 1px dashed var(--bg-slate-400);
  width: 30rem;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.search_content input {
  width: 100%;
  border: transparent;
  background: var(--bg-slate-100);
  outline: none;
  padding: 0.5rem 1rem;
}

.button_create {
  border: transparent;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  color: var(--text-white);
  font-weight: 600;
  background: var(--btn-normal-blue);
}

.button_create:hover {
  background: var(--btn-hover-blue);
  cursor: pointer;
}

.product_content {
  height: 85%;
  overflow-y: scroll;
}

.table_content {
  border: 1px solid rgb(92, 92, 92);
  font-size: var(--text-sm);
  width: 100%;
}

.table_head tr {
  background-color: var(--bg-slate-100);
}

.table_head th {
  border: 1px solid rgb(160,160,160);
  padding: 0.5rem;
  font-weight: 500;

}

.table_body td {
  border: 1px solid rgb(160,160,160);
  vertical-align: middle;
  padding: 0 1rem;
}

.table_body tr:hover {
  background-color: var(--bg-slate-100);
}

.edit_icon,
.details_icon {
  color: var(--bg-slate-300);
}

.edit_icon:hover,
.details_icon:hover {
  color: var(--bg-slate-400);
  cursor: pointer;
}
