
<form [formGroup]="form" (ngSubmit)="proccessForm()" class="form_container">

  <section class="content">
    <div class="content_box">
      <label class="box_label" for="title">Title</label>
      <input class="box_input" type="text" id="title" name="title" formControlName="title" >
    </div>
    <div class="content_box" >
      <label class="box_label" for="price">Price</label>
      <input class="box_input" type="number" id="price" name="price" formControlName="price" >
    </div>

    <div class="content_box" >
      <label class="box_label" for="description">Description</label>
      <textarea class="box_input" id="description" name="description" formControlName="description" ></textarea>
    </div>

    <div class="content_box" >
      <label class="box_label" for="photo">Image</label>
      <input class="box_input" type="text" id="image" name="image" formControlName="image" >
    </div>

    <div class="content_box" >
      <label class="box_label" for="category">Category</label>
      <select class="box_input" name="category" id="category" formControlName="category" >
        @for (category of categories; track $index) {
          <option [value]="category">{{category.toUpperCase()}}</option>
        }
      </select>
    </div>

  </section>

</form>









